<!-- Comment back in to enable new users-->
<!--
<div class ="block", id= "block-signup">	
	  <h2>Sign Up: Sorry, we are not ready for new users</h2>

	<p>If you are interested in becoming a beta tester for this site please 
		<a href="mailto:coxaqui@gmail.com">Email Me</a><br/> Thank you</p>
	</div>
-->
<!-- Comment back in to cancel user registration-->


<div id ="box">

<div class ="block", id= "block-signup">
	  <h2>Sign Up</h2><br/>

  <div class="content login">
    <div class="flash">
      <% flash.each do |type, message| %>
        <div class = "message error">
          <p><%= message %></p>
        </div>
	 <%end%>
    </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form signup" }) do |f| %>

      <%= render "shared/error_messages", :target => @user %>
			
      <div class="group wat-cf">
        <div class="left"><%= f.label :username, :class => "label right" %></div>
        <div class="right"><%= f.text_field :username, :class => "text_field" %></div>
      </div>

	  <div class="group wat-cf">
        <div class="left"><%= f.label :email, :class => "label right" %></div>
        <div class="right"><%= f.text_field :email, :class => "text_field" %></div>
      </div>

      <div class="group wat-cf">
        <div class="left"><%= f.label :password, :class => "label right" %></div>
        <div class="right"><%= f.password_field :password, :class => "text_field" %></div>
      </div>

      <div class="group wat-cf">
        <div class="right">
          <button class="button" type ="submit">
            <%= image_tag "web-app-theme/icons/tick.png" %>
            Sign Up
          </button>
        </div>
      </div>
	<%end%>
    <%= render :partial => "devise/shared/links"%>

</div>
</div>
</div>



<!--

<h2>Sign up</h2>
<p id="notice"><%= notice %></p>

<%= form_for(resource_name, resource, :url => registration_path(resource_name)) do |f| %>
  
<%= render "shared/error_messages", :target => @user %> 

  <p><%= f.label :username %><br/><%= f.text_field :username %></p>

  <p><%= f.label :email %><br/><%= f.text_field :email %></p>

  <p><%= f.label :password %><br/><%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br/><%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %> -->

