<%= form_for(@businessform) do |f| %>
  <% if @businessform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@businessform.errors.count, "error") %> prohibited this businessform from being saved:</h2>

      <ul>
      <% @businessform.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<table>
	  <tr>
		<%= f.label :user_login, "Username (this Business form will the associated with this user)" %>
	    <th>
    	<% if current_user && !current_user.admin?%>
		  	<%= f.text_field :user_login, :readonly => true, :value => current_user.username || "Invalid" %>
		<%elsif current_user && current_user.admin? %>
		  	<%= f.text_field :user_login %>
		<%else%>
			<%= f.text_field :user_login, :readonly => true, :value => "Invalid" %>
		<%end%>
		</th>
 	  </tr>
	    
	</table>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  
    <%= f.label :business_name %>
    <%= f.text_field :business_name %>
  <div class="field">
    <%= f.label :address_line_1 %> 
    <%= f.text_field :address_line_1 %> *No P.O. Boxes (not validated yet)
  <br/>
    <%= f.label :address_line_2 %>
    <%= f.text_field :address_line_2 %> *No P.O. Boxes (not validated yet)
  <br/>
    <%= f.label :city %>
    <%= f.text_field :city %>
  <br/>
  
    <%= f.label :state %>
    <%= f.select :state, options_for_select(States::ALLSTATES, @businessform.state) %>
  <br/>
  
    <%= f.label :country %>
    <%= f.select :country, options_for_select(Countries::ALLCOUNTRIES, @businessform.country) %>
  <br/>
  
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  <br/>

	</div>
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  
    <%= f.label :lng %>
    <%= f.text_field :lng %>
  
    <%= f.label :local_notices %>
    <%= f.check_box :local_notices %>
  
    <%= f.label :website %>
    <%= f.text_field :website %>
 
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  
    <%= f.label :business_category %>
    <%= f.text_field :business_category %>
  
    <%= f.label :business_subcategory %>
    <%= f.text_field :business_subcategory %>
 
    <%= f.label :signed_in %>
    <%= f.check_box :signed_in %>
  
    <%= f.label :more_about_your_business %>
    <%= f.text_field :more_about_your_business %>
  
    <%= f.label :access_count %>
    <%= f.text_field :access_count %>
  
    <%= f.label :user_id, "User Id" %>
	<% if current_user && !current_user.admin?%>
		<%= f.text_field :user_id, :readonly => true, :value => current_user.id || "Invalid" %>	
	<%elsif current_user && current_user.admin? %>
		<%= f.text_field :user_id %>	
	<%else%>
		<%= f.text_field :user_login, :readonly => true, :value => "Invalid" %>
	<%end%>
	</div>
  </br>
  </br>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
