<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", businessforms_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_businessform_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Businessforms</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th><%= t("activerecord.attributes.businessform.user_login", :default => t("activerecord.labels.user_login", :default => "User_login")) %></th>
          <th><%= t("web-app-theme.business_name", :default => "Business Name")  %></th>
          <th><%= t("web-app-theme.city", :default => "City")  %></th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
		</tr>
        <% @businessforms.each do |businessform| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= businessform.id %>
          </td>
                    <td>
            <%= link_to businessform.user_login, businessform_path(businessform) %>
          </td>
          	<td><%= businessform.business_name %></td>
			<td><%= businessform.city %></td>
			<td><%= businessform.created_at %></td>
          
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", businessform_path(businessform) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_businessform_path(businessform) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", businessform_path(businessform), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @businessforms  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
