<p id="notice"><%= notice %></p>
<%= @businessform.fetch_coordinates! %>

<p>
  <b>User login:</b>
  <%= @businessform.user_login %>
</p>

<p>
  <b>First name:</b>
  <%= @businessform.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @businessform.last_name %>
</p>

<p>
  <b>Business name:</b>
  <%= @businessform.business_name %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @businessform.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @businessform.address_line_2 %>
</p>

<p>
  <b>City:</b>
  <%= @businessform.city %>
</p>

<p>
  <b>State:</b>
  <%= @businessform.state %>
</p>

<p>
  <b>Country:</b>
  <%= @businessform.country %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @businessform.zipcode %>
</p>

<p>
  <b>Lat:</b>
  <%= @businessform.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @businessform.lng %>
</p>

<p>
  <b>Local notices:</b>
  <%= @businessform.local_notices %>
</p>

<p>
  <b>Website:</b>
  <%= @businessform.website %>
</p>

<p>
  <b>Phone number:</b>
  <%= @businessform.phone_number %>
</p>

<p>
  <b>Business category:</b>
  <%= @businessform.business_category %>
</p>

<p>
  <b>Business subcategory:</b>
  <%= @businessform.business_subcategory %>
</p>

<p>
  <b>Signed in:</b>
  <%= @businessform.signed_in %>
</p>

<p>
  <b>More about your business:</b>
  <%= @businessform.more_about_your_business %>
</p>

<p>
  <b>Access count:</b>
  <%= @businessform.access_count %>
</p>

<p>
  <b>User:</b>
  <%= @businessform.user_id %>
</p>


<%= link_to 'Edit', edit_businessform_path(@businessform) %> |
<%= link_to 'Back', businessforms_path %>
