<div id="searchMain">
	<%= form_tag '/' do %>
	<%= text_field_tag :searchCity, params[:searchCity] || [@city] || "" %>
	<%= select_tag :searchState, options_for_select(States::US_STATES, params[:searchState] || [@state]) %>
	<%= text_field_tag :searchCountry, params[:searchCountry] || [@countryNameMain] || "" %>
	<%= select_tag :proximity, options_for_select(Coupon::PROXIMITYOPTIONS, params[:proximity] || ["25"]) %>
	<%= select_tag :proximityUnits, options_for_select(Coupon::DISTANCEOPTIONS) %>
	<%= submit_tag "Search" %>  
	<%end%> 
</div>
Params:<%=params[:searchCity].to_s%><br/>
city:<%=@city%><br/>
@cityX<%=@cityX%><br/>
$City:<%=$CITY%><br/>
State<%=$STATE%><br/>
Country<%=$COUNTRY%><br/>
prox<%=$PROX%> <br/>
per_Page<%=$PER_PAGE%><br/>
<br/>



<br/>
<%= raw Cartographer::Header.new.to_s %>
<%= raw @map.to_html %>

<!--For now I am styling the map here because sourcing it to a CSS file was breaking on Chrome-->
<div id="map" style="height:250px;
			display: block; /* another must */
			position:relative; /* because the child elements are positioned */
			top: -1px; /* drag it up a little, creates the top notches */
			left: 0;
			border:solid #666;
			border-width:5px 5px 5px 5px; /* top border only */
			font-weight:normal;
			-moz-border-radius: 4px;
				-webkit-border-radius: 5px;
				-moz-background-clip: border;     /* Firefox 3.6 */
			    -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
			    background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

			    -moz-background-clip: padding;     /* Firefox 3.6 */
			    -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
			    background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */

			    -moz-background-clip: content;     /* Firefox 3.6 */
			    -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
			    background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */"> [Map]</div>

<br/>
<!-- Old Search view

<div class ="block", id= "block-text">
	<div class="secondary-navigation">
	    <ul class="wat-cf">
	            <li class="active first"><a href="#block-text">Search</a></li>
	            <li><a href="#block-tables">Advanced Search</a></li>
	     </ul>
	</div>
	<div class="content">
		<h2 class="title">Search Location</h2>
		<div class = "inner">
			<div id="searchMain"
				<%= form_tag '/' do %>
				I think the Coupons bellow are near you: (No so much? Please give me the correct information bellow)<br/>
				<%= text_field_tag :searchCity, params[:searchCity] || [@city]  || "" %>
				<%= select_tag :searchState, options_for_select(States::US_STATES, params[:searchState] || [@state]) %>
				<%= text_field_tag :searchCountry, params[:searchCountry] || [@countryNameMain] || "" %>
				<%= select_tag :proximity, options_for_select(Coupon::PROXIMITYOPTIONS, params[:proximity]||["25"]) %>
				<%= select_tag :proximityUnits, options_for_select(Coupon::DISTANCEOPTIONS) %>
				<%= submit_tag "Search" %>  <%end%> 
			</div>
			
			<br/><br/>
		</div>
	</div>
</div>-->



<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", coupons_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_coupon_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Coupons</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
                    <th>
            <%= t("activerecord.attributes.coupon.address_line1", :default => t("activerecord.labels.address_line1", :default => "Address_line1")) %>
          </th>
                    <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @coupons.each do |coupon| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= coupon.id %>
          </td>
                    <td>
            <%= link_to coupon.address_line1, coupon_path(coupon) %>
          </td>
                    <td>
            <%= coupon.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", coupon_path(coupon) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_coupon_path(coupon) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", coupon_path(coupon), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
		  <div clas="page_info">
		    <%= page_entries_info @coupons %>
		  	<%= will_paginate @coupons, :container => true %>
		  </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
