<!--<%=SecureRandom.hex(30)%>
<p style="color:red;">Dear User, Please <%= link_to "create an alert", new_simplealert_path %>.<br/> This is only a pre-beta version temporally available and we would like to get in touch with you when it is ready. Thank you. </p>
<p>Feel free to<a href="mailto:coxaqui@gmail.com"> email us</a> as well! =)</p>-->

<!-- projects/index.rhtml -->
<% content_for :simplealert do %>
  Search HeadCoupons
<% end %>

<div id="searchMain">
	<% form_tag request.path, :method => 'get' do %>
	<%= text_field_tag :searchCity, params[:searchCity] || [@city] || "" %>
	<%= select_tag :searchState, options_for_select(States::US_STATES, params[:searchState] || [@state]) %>
	<%= text_field_tag :searchCountry, params[:searchCountry] || [@countryNameMain] || "" %>
	<%= select_tag :proximity, options_for_select(Coupon::PROXIMITYOPTIONS, params[:proximity] || [@default_distance]) %>
	<%= select_tag :proximityUnits, options_for_select(Coupon::DISTANCEOPTIONS) %>
	<%= submit_tag "Search" %>  
	<%end%> 
</div>

<br/>
<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", coupons_path  %></li>
      <li href="#" onclick="ShowHideWithAnimation(mapa); return false;"><%= link_to "#{t("web-app-theme.new", :default => "Try Me")}" %></li>

	<%if user_signed_in?%>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_coupon_path %></li>
	<%end%>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "")  %> <%= page_entries_info @coupons %> near <%=params[:searchCity] || [@city]%>,&nbsp; <%=params[:searchState] || [@state]%></h2>

    <div class="inner">
      	<!--Start small coupon display-->

				<div class="smallCouponContainer">

					<% @coupons.each do |coupon| %>
					<div class="couponSmall">

						<!--<div class="couponLeft">
							<%=coupon.support_summary%>
						</div-->

						<div class="couponRight">
							<%= link_to(image_tag("/images/ViewDetailsSmall.png"), coupon_path(coupon)) %>
						</div>

						<div class="couponMain">
							<%=coupon.coupon_category%>
						</div>
						<div class="bottomInfo">
							<%=coupon.city%>,&nbsp;<%=coupon.state%>
						</div>
						<div class="smallSummary">
						<p><%=coupon.support_summary%></p>
						</div>
						<div class="small-location-border">
						<p></p>
						</div>
					</div>

					<%end%>
				</div>
		<!--End small coupon display-->
		
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
	  <div class="page_info_coupons">
	  	<%= will_paginate @coupons, :container => true %>
	  </div>
      </div>

	</div>
	<div id="mapa">
		<%= raw Cartographer::Header.new.to_s %>
		<%= raw @map.to_html %>
		<!--For now I am styling the map here because sourcing it to a CSS file was breaking on Chrome-->
		<div id="map" style="height:250px;
					"> [Map]</div>
	</div>
  </div>
</div>


<% content_for :sidebar, render(:partial => 'sidebar') -%>
