<%= form_for(@simplealert) do |f| %>
  <% if @simplealert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@simplealert.errors.count, "error") %> prohibited this simplealert from being saved:</h2>
      <ul>
      <% @simplealert.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field" style="display:none"><!--I hide this because I want to save with User info but Without displaying-->
		<% if current_user %>
		<%= f.label :alert_owner %> 
		    <% if current_user && !current_user.admin?%>
			  	<%= f.text_field :alert_owner,:readonly => true, :value => current_user.username || "Invalid" %>
			<%elsif current_user && current_user.admin?%>
		  	 	<%= f.text_field :alert_owner, :value => current_user.username %> 
			<%else%>
		  	 	<%= f.text_field :alert_owner, :readonly => true, :value => "Invalid" %>
		<%end%>
		<% else %>
			<%= f.label :alert_owner %>
			<%= f.text_field :alert_owner, :readonly => true, :value => "Guest" %>
			<li><a href="<%= new_user_registration_path %>">Sign up</a> or <a href="<%= new_user_session_path %>"> Sign In</a> to manage multiple alerts</li><br/>
		<%end%>
	</div>
		

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :location_zip, 'Zipcode' %>
    <%= f.text_field :location_zip, :size => 14 %>
  </div>
  <!--<div class="field"> Maybe save this in the db as state
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div> -->
<!--
  <div class="field">
    <%= f.label :view_count %><br />
    <%= f.text_field :view_count %>
  </div>
  <div class="field">
    <%= f.label :sent_count %><br />
    <%= f.text_field :sent_count %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>-->

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Subscribe") %>
  </button>
</div>
<% end %>
