<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", simplealerts_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_simplealert_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "Your")  %> Email Alerts</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">Owner</th>
          <th><%= t("activerecord.attributes.simplealert.email", :default => t("activerecord.labels.email", :default => "Email")) %></th>
          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th><%= t("web-app-theme.location_zip", :default => "Zipcode")  %></th>
          <th><%= t("web-app-theme.activealert", :default => "Active?")  %></th>


          <th class="last">&nbsp;</th>
        </tr>
		<%if !user_signed_in?%>
		<tr class="<%= cycle("odd", "even") %>">
          <td>Guest,</td>
          <td>register to manage your</td>
          <td>email alert(s).</td>
          <td><%= link_to "#{t("web-app-theme.show", :default => "It is quick")}", new_user_registration_path %></td>
          <td><%= link_to "#{t("web-app-theme.show", :default => "...or sign in")}", new_user_session_path %></td>
		</tr>
		
		<%end%>
        <% @simplealerts.each do |simplealert| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= simplealert.alert_owner %></td>
          <td><%= link_to simplealert.email, simplealert_path(simplealert) %></td>
          <td><%= simplealert.created_at %></td>
          <td><%= simplealert.location_zip %></td>
          <td><%= simplealert.activealert %></td>


          <td class="last">
			<%if (user_signed_in? && current_user.try(:admin))%>
				<%= link_to "#{t("web-app-theme.show", :default => "Show")}", simplealert_path(simplealert) %> |
            	<%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_simplealert_path(simplealert) %> |
				<%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", simplealert_path(simplealert), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
			<%else%>
				<%= link_to "#{t("web-app-theme.edit", :default => "Edit Subscription")}", edit_simplealert_path(simplealert) %>
			<%end%>
          </td>
        </tr>          
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @simplealerts  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
