<!DOCTYPE html>
<html>
<head>
	<LINK REL="SHORTCUT ICON"
	       HREF="images/br-log.ico">
	
<title>Doutdes: Give so others may give</title>
 <%= stylesheet_link_tag 'MainLayout' %>
 <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/drastic-dark/style", "web-app-theme/override" %>


<%= javascript_include_tag :defaults %><!--This needs to be cleaned up. I am using prototype here and jQuery bellow and need to clean up to use only one of them -->
<%= csrf_meta_tag %>

<!--Google analytics and other google imports (jquery/1.4.2/jquery.js if for div hide/Show animation)-->
<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js', 'jquery.rails.js'%>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21087254-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!--END Google analytics-->

</head>
<body>	
  <div id="container">
	
		<div id="simplealerts_outter"> 
			<div id="simplealerts_inner"> 
				Hi <%=  current_user.try(:username) || "Guest" %>, register an alert for nearby activity!<br/>
				<%= render 'simplealerts/form' %>
			</div>
		</div>
		
    <div id="header">
      <h1><a href="/">Doutdes: Give so others may give</a></h1>

		<div id="simplealerts_sign"> 
		  <a href="#" style="display: block" onclick="ShowHideWithAnimation(simplealerts_outter); return false;">Email my place<img style="position:absolute;right:0;top:0;" src="/images/plus.png" width="15" height="15" alt="text">
		</div>

      <div id="user-navigation">
        <ul class="wat-cf">
          <% if user_signed_in? %>
 			<li><a style="color:green">Signed in as <%= current_user.username %> (<%= current_user.email %>)</a></li>
	        <li><a class="login" href="#"><%= t("web-app-theme.settings", :default => "My Coupons") %></a></li>

			<li><a class="login" href="<%= edit_user_registration_path %>" >
				 <%= t("web-app-theme.profile", :default => "Profile") %></a></li>	
				
			<li><a class="logout" href="<%= destroy_user_session_path %>">
				<%= t("web-app-theme.logout", :default => "Sign Out") %></a></li>
				
		  <% else %>
			<li><a class="login" href="<%= new_user_session_path %>">
				<%= t("web-app-theme.login", :default => "Sign In") %></a></li>
				
			<li><a class="login" href="<%= new_user_registration_path %>">
				<%= t("web-app-theme.Signup", :default => "Sign Up") %></a></li>
		  <% end %>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
 			<li class="<%= params[:controller] == "coupons" ? "first active" : "first" %>"><%= link_to 'HOME-Coupons', outside_viewerLinkeage_path( 'coupons' ) %> </li>
			<li class="<%= params[:controller] == "simplealerts" ? "first active" : "first" %>"><%= link_to 'ABOUT-SpAlrt', outside_viewerLinkeage_path( 'simplealerts' ) %></li>
			<li class="<%= params[:controller] == "businessforms" ? "first active" : "first" %>"><%= link_to 'BusForm', outside_viewerLinkeage_path( 'businessforms' ) %></li>
			<%if user_signed_in? && current_user.admin?%>
			  <li class="<%= params[:controller] == "administrator" ? "first active" : "first" %>"><%= link_to 'Administrator', outside_viewerLinkeage_path( 'administrator' ) %></li>
			<%end%>
		</div>       	
			
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>

      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> Doutdes: Give so others may give.</p>
          </div>      
        </div>
      </div>
	  <div id="simplealerts"> 
	    <%= yield :simplealertsOUT %> 
	  </div>
      <div id="sidebar">
        <!--<%= yield :sidebar %> This stays in this file
		
		The next two line is what the yield above will read from any of your view
		<% content_for :sidebar do %>
		<% end %>
		-->
		        <div class="block">
		          <h3>Support Us</h3>
		          <div class="content">
					</br>
					<!-- Paypal donate button-->
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" align="center">
					<input type="hidden" name="cmd" value="_donations">
					<input type="hidden" name="business" value="coxaqui@gmail.com">
					<input type="hidden" name="lc" value="US">
					<input type="hidden" name="item_name" value="Empowering Local Communities">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
					<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" align="right" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
					<!--End Paypal donate button-->
					<br/>
					<!-- Facebook Like button-->
					<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
					<fb:like href="http://www.facebook.com/pages/Doutdes/168877146495171#" show_faces="true" width="250" font=""></fb:like>
					<br/>
					<br/>
					<!-- End Facebook Like button-->
					
					</br>
				  </div>
		        </div>
		<!-- Start Chat-->
		<div class="block">
          <h3>Chat with all other users currently online</h3>
          <div class="content">
			</br>
			<div style="width:auto;"
				<object width="220" height="350">
					<param name="movie" value="http://widget.meebo.com/mcr.swf?id=zQQJXVLyZA"></param>
					<embed src="http://widget.meebo.com/mcr.swf?id=zQQJXVLyZA" 
					type="application/x-shockwave-flash" width="220" height="350"/>
				</object>
			</div>
			</br>
		  </div>
        </div>
		<!--End Chat-->
		<!-- Twitter Stuff-->
				          <p><script src="http://widgets.twimg.com/j/2/widget.js"></script>
						<script>
						new TWTR.Widget({
						  version: 2,
						  type: 'profile',
						  rpp: 4,
						  interval: 6000,
						  width: 'auto',
						  height: 300,
						  theme: {
						    shell: {
						      background: '#333333',
						      color: '#ffffff'
						    },
						    tweets: {
						      background: '#000000',
						      color: '#ffffff',
						      links: '#4aed05'
						    }
						  },
						  features: {
						    scrollbar: false,
						    loop: false,
						    live: false,
						    hashtags: true,
						    timestamp: true,
						    avatars: false,
						    behavior: 'all'
						  }
						}).render().setUser('pucnow').start();
						</script></p>
		<!-- End twitter stuff-->		

		        <div class="block">
		          <h3>Git and more</h3>
		          <ul class="navigation">
		            <li><a href="#block-text">Twitter</a></li>
		            <li><a href="#block-forms">Fork on GitHub</a></li>
		            <li><a href="#block-messages">Youtube</a></li>
		            <li><a href="#block-forms-2">Flicker</a></li>
		            <li><a href="#block-lists">Others</a></li>
		          </ul>
		        </div>
		


<!-- Last Block-->

		        <div class="block">
		          <div class="sidebar-block">
		            <h4>Sidebar Inner block Title</h4>
		            <p>Morbi posuere urna vitae nunc. Curabitur ultrices, lorem ac <a href="#">aliquam blandit</a>, lectus eros hendrerit eros, at eleifend libero ipsum hendrerit urna. Suspendisse viverra. Morbi ut magna. Praesent id ipsum. Sed feugiat ipsum ut felis. Fusce vitae nibh sed risus commodo pulvinar. Duis ut dolor. Cras ac erat pulvinar tortor porta sodales. Aenean tempor venenatis dolor.</p>
		          </div>
		        </div>
<!-- end Last Block-->


      </div>
    </div>    
  </div>
</body>
</html>
